<!DOCTYPE html>
<html>
  <head>
    <title>ぺからいぶ！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('/images/favicon.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="PeerCast,ピアキャス,ピアキャスト,ぺからいぶ,Peca,ぺか,ペカ" />
    <meta name="description" content="「ぺからいぶ！」で あたらしい ぴあきゃすとらいふを！ PeerCastがなくても、パソコンでも、スマホでも。" />
  </head>

  <body style="background-color: #F5F5F5">
    <%= yield %>
  </body>
</html>
